.calculatorContainer{
  border: 1px solid black ;
  width:30vw;
 border-radius:2vh;
  padding: 3vh 2.5vh;
  background-color: rgba(17, 16, 16, 0.851);
}
.input{
  width:24vw;
  height:4vw;
  outline: none;
  background-color: rgba(3, 34, 9, 0.774);
  color: white;
}
.btnContainer{
  margin: 1vh 1vh;
  flex-wrap: wrap;
}
.btn{
  width:6vw;
  margin-top:1vw;
  height:5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:300;
  background-color: rgba(26, 163, 200, 0.885);
  color: white;
  gap:3vh;
  font-size:12px;
  margin-right:1vw;
}
